/* CUSTOM PROPERTIES */
@font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-700.woff2') format('woff2');
}

:root {
    --brand-color: #6E728E;
    --black: #4A4D60;
    --white: #fff;
    --blue: #6d72de;
    --bg-color: #f7f7fe;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--brand-color);
    background-color: var(--bg-color);
    background-image: url("../img/line-bg-left.svg"),
        url("../img/line-bg-right.svg");
        background-position: left -120px bottom -460px,
            right -100px top -100px;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */
.button {
    display: inline-block;
    margin: 0;
    padding: 14px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: transparent;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s ease,
        color 0.2s ease;
}

.button-block {
    display: block;
    width: 100%;
}

.button-primary {
    background-color: #6d72de;
    background-image: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
    color: #fff;
}

.button-primary:hover {
    border-color: var(--brand-color);
    background-color: var(--white);
    background-image: none;
    color: var(--brand-color);
}

.button-white {
    background-color: #fff;
    color: #6d72de;
}

.button-white:hover {
    border-color: var(--white);
    background-color: transparent;
    color: var(--white);
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}

/* PAGE */
.page {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 32px;
}

/* PRICING TOGGLE */
.pricing-switch {
    margin-bottom: 64px;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-label {
    font-size: 15px;
    line-height: 28px;
    color: rgba(110, 114, 142, 0.5);
    cursor: pointer;
}

.switch-label:hover {
    color: #6e728e;
}

.switch-control {
    position: relative;
    width: 56px;
    height: 32px;
    padding: 4px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 16px;
    background-color: #696EDD;
    background-image: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
    transition: opacity 0.4s ease;
}

.switch-control:hover {
    opacity: 0.5;
}

.switch-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transition: margin 0.2s ease;
}

.switch-control-annual,
.switch-control-month {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swith-input-annual:checked ~ .switch-control .switch-control-month,
.swith-input-monthly:checked ~ .switch-control .switch-control-annual {
    z-index: 5;
}

.swith-input-monthly:checked ~ .switch-control .switch-circle {
    margin-left: 24px;
}

/* PRICING */
.pricing {
    width: 100%;
}

.pricing-inner {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.pricing-plan {
    flex-grow: 1;
    max-width: 350px;
    padding: 32px;
    background-color: var(--white);
    text-align: center;
}

.pricing-plan:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pricing-plan:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pricing-plan-best {
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 10px;
    background-color: #696edd;
    background-image: linear-gradient(135.06deg, #a2a7f0 -0.05%, #696edd 100.05%);
    color: #fff;
}

.pricing-plan-title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}

.pricing-plan-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 72px;
    color: var(--black);
}

.pricing-plan-best .pricing-plan-price {
    color: var(--white);
}

.pricing-plan-currency {
    margin-right: 8px;
    font-size: 40px;
    line-height: 40px;
}

.pricing-plan-features {
    padding: 0;
    margin-top: 0;
    margin-bottom: 32px;
    border-top: 1px solid rgba(110, 114, 142, 0.25);
    list-style: none;
}

.pricing-plan-best .pricing-plan-features {
    border-top: 1px solid rgba(255, 255, 255, 0.25)
}

.pricing-plan-feature {
    padding: 12px;
    font-size: 15px;
    line-height: 28px;
    border-bottom: 1px solid rgba(110, 114, 142, 0.25);
}

.pricing-plan-best .pricing-plan-feature {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}